// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
//  Variables
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// colors
$header-color: #58e1c1;

$primary-color: #777;

$white: #fff;

$color1: #927bc1;
$color2: #fd7856;
$color3: #51ddfc;


// breakpoints - Media Queries
$breakpoints: (
  'l': 768px,
);


// fonts
$font-stack: 'Lato', sans-serif;
